# Web Framework & Server
fastapi
uvicorn[standard]
aiofiles
python-dotenv

# LangChain Orchestration
langchain
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-pinecone
langchain-huggingface
langchain-text-splitters

# External Providers & Vector Store
groq
pinecone

# Embeddings & Inference
sentence-transformers
transformers
torch

# Document Parsing
pypdf